.inletter{
    overflow: scroll;
    width: 40%;
    height: 550pt;
    table-layout: fixed;
    border-collapse: collapse;
    float:left;
}

.tabletop{
    overflow: scroll;
    width: 40%;
}

.letterviewer{
    justify-content: center;
    background-color: #faf3dd;
    float: left;
    width: 500pt;
    height: 550pt;
    padding-left: 20pt;
}

.letterviewertext{
    justify-content: center;
    width: 450pt;
    overflow-wrap: break-word 
}

.inboxbg{
    background-color: #c8d5b9;
    padding-bottom: 50pt
}

.sidebyside{
    overflow: hidden
}

.inboxbbutton{
    margin-left: 1%;
    margin-top:1%;
    background-color: #faf3dd;
    margin-bottom: 1%;
    font-size: 15pt;
}

.sendletter{
    width: 500pt;
    height: 600pt;
    border: none;
    background-color: #faf3dd;
    overflow-wrap: break-word;
    resize: none;
    padding-top: 2%;
    
}

.sendbutton{
    padding-left: 50%;
    float:left;
}