.inletter{
    overflow: scroll;
    width: 40%;
    height: 550pt;
    table-layout: fixed;
    border-collapse: collapse;
    float:left;
}

.tabletop{
    overflow: scroll;
    width: 40%;
}

.letterviewer{
    justify-content: center;
    background-color: #faf3dd;
    float: left;
    width: 500pt;
    height: 550pt;
    padding-left: 20pt;
}

.letterviewertext{
    justify-content: center;
    width: 450pt;
    overflow-wrap: break-word 
}

.inboxbg{
    background-color: #68b0ab;
    padding-bottom: 30pt
}

.sidebyside{
    overflow: hidden
}

.inboxbbutton{
    margin-left: 1%;
    margin-top:1%;
    background-color: #faf3dd;
    margin-bottom: 1%;
    font-size: 15pt;
}

.sendletter{
    width: 500pt;
    height: 500pt;
    border: none;
    background-color: #faf3dd;
    overflow-wrap: break-word;
    resize: none;
    margin-top: 2%;
    margin-left: 8%;
}

.sendbutton{
    padding-left: 60%;
    float:left;
}

.selectperson{
    margin-left: 2%;
    margin-top: 20pt;
    font-size: 20pt;
    background-color: #faf3dd;
}

.logoutbutton{
    margin-left: 59%;
    font-size: 20pt;
    background-color: #faf3dd;
}

.readlettersbutton{
    margin-left: 2%;
    font-size: 20pt;
    background-color: #faf3dd;
}