.loginbg {
    background-color:#B9C9A6;
    padding-bottom: 19%;
    
}
.buttoncolour{
    background-color: #faf3dd;
    font-size: 20pt;
}

.inputtext{
    text-align: center;
    justify-content: center;
    padding-top: 10%;
    font-size: 20pt;

}

.inputboxsize{
    width: 200pt;
    height: 20pt;
    font-size: 20 pt;
}

.backbuttonpad{
    padding-left: 1%;
    padding-top: 1%;
}

.submitbuttonpad{
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    vertical-align: top;
}

.title{
    font-size: 40pt;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.signupsubmit{
    background-color: #faf3dd;
    font-size: 20pt;
    margin-top: 5%;
}

.error{
    text-align:center;
    color: red;
    padding: 0;
}

.error p{
    position:absolute;
    text-align: center;
    width: 100%;
}

.mltitle{
    font-size: 40pt;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
}