:root {
    --blue: #7BB2D9;
    --white: #c9c9c9;
}

.loginbg {
    background-color: var(--white);
    padding-bottom: 19%;
    
}
.buttoncolour{
    background-color: var(--white);
    font-size: 20pt;
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 10px;
}

.buttoncolour:hover {
    cursor: pointer;
    background-color: #bdbdbd;
}

.inputtext{
    text-align: center;
    justify-content: center;
    padding-top: 10%;
    font-size: 20pt;

}

.inputboxsize{
    width: 200pt;
    height: 20pt;
    font-size: 20 pt;
}

.backbuttonpad{
    padding-left: 1%;
    padding-top: 1%;
}

.submitbuttonpad{
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    vertical-align: top;
}

.title{
    font-size: 40pt;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.signupsubmit{
    background-color: var(--white);
    font-size: 20pt;
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 15px;
    margin-top: 5%;
}

.signupsubmit:hover {
    cursor: pointer;
    background-color: #bdbdbd;
}

.error{
    text-align:center;
    color: red;
    padding: 0;
}

.error p{
    position:absolute;
    text-align: center;
    width: 100%;
}

.mltitle{
    font-size: 40pt;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
}